@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="http://www.pucmm.edu.do/recursos/PublishingImages/Paginas/logos/Logo%20PUCMM%20(Color).png" alt="PUCMMLOGO" align="left" height="512" width="512" />
    <h1>PUCMM Emprende</h1>
    <p class="lead">Plataforma Virtual Emprendedores</p>

</div>
