@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="http://www.pucmm.edu.do/recursos/PublishingImages/Paginas/logos/Logo%20PUCMM%20(Color).png" alt="PUCMMLOGO" align="left" height="360" width="360" />
    <h1>PUCMM Emprende</h1>
    <p class="lead">Plataforma Virtual para Emprendedores</p>
    @Html.Partial("_LoginPartial")

</div>


