@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Eventos";
}

<h2>Lista de eventos</h2>


@*<div class="list-group">
     
     @Html.ActionLink("deded", "IdeasMain", "Idea", null, new { @class = "list-group-item" })

</div>*@

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            
        </tr>
    </thead>
    <tbody> 
        <tr>
            @*<td ondblclick="@Html.("Index")"> Nombre</td>*@
            <td>@Html.ActionLink("Nombre", "Index", "Evento")</td>
            @*<td>@Html.Action("Index")</td>*@
          
            <td>Column content</td>
        </tr>
    </tbody>
</table> 

