@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Eventos";
}

<h2>Lista de eventos</h2>


<div class="list-group">
    <a href="#" class="list-group-item">
        
     @Html.ActionLink("","IdeasMain","Idea")
     
        
    </a>
    <a href="#" class="list-group-item">
        Dapibus ac facilisis in
    </a>
    <a href="#" class="list-group-item">
        Morbi leo risus
    </a>
</div>

@*<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            
        </tr>
    </thead>
    <tbody> 
        <tr>
            <td ondblclick="IdeasMain()">Column content</td>
            <td>Column content</td>
        </tr>
    </tbody>
</table>*@ 

